body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.content-task {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.button {
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

.task-item input[type="radio"] {
    margin-left: 10px;
}

.taskSelected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #aa0d0d;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 1px 2px 5px #000;
}

#btAdd{
    background-color: #1fa81f;
}

#btSelect {
    background-color: #acac56;
}

#btRemove {
    background-color: #aa0d0d;
}

#btSave {
    background-color: #007bff;
}